node_modules
.yarn
dist
mongo/mongo-volume/*
!mongo/mongo-volume/.keep
mongo/mongodb/*
!mongo/mongodb/.keep
mongo/init-mongo.js
nginx/certbot/conf/*
!nginx/certbot/conf/.keep
nginx/certbot/www/*
!nginx/certbot/www/.keep